<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Automobile_Management.My.MySettings.Autodb2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Autodb2.mdb"
            providerName="System.Data.OleDb" />
        <add name="Automobile_Management.My.MySettings.Autodb2ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\aman\Documents\Autodb2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
   
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>